<section
    id="Gana"
    class="justify-center bg-black h-screen w-screen text-center relative overflow-hidden"
>
    <div class="z-30 relative h-full w-full flex flex-col items-center">
        <header>
            <a href="https://ganaenergia.com/" target="_blank"><img
                class="w-[400px] h-[85px] mt-[550px]"
                src="/Gana.webp"
                alt="Gana"
            /></a>
        </header>

        <footer class="flex flex-col flex-grow justify-end pb-40">
            <div>
                <a
                    class="border-[3px] border-white bg-white/5 backdrop-blur-xl text-sm rounded font-semibold text-white px-12 py-2 inline-block hover:bg-white hover:text-black transition-colors hover:font-semibold"
                    href="#">Calculadora</a
                >

                <a
                    class="border-[3px] border-white bg-white/5 backdrop-blur-xl text-sm rounded font-semibold text-white px-12 py-2 inline-block hover:bg-white hover:text-black transition-colors hover:font-semibold"
                    href="#">Texto Legal</a
                >

                <a
                    class="border-[3px] border-white bg-white/5 backdrop-blur-xl text-sm rounded font-semibold text-white px-12 py-2 inline-block hover:bg-white hover:text-black transition-colors hover:font-semibold"
                    href="#">Mantel Tarifas</a
                >
            </div>
        </footer>
    </div>

    <div class="absolute top-0 bottom-0 h-full w-full">
        <video
            autoplay
            loop
            muted
            class="opacity-[20%] absolute h-full w-full object-cover object-center"
            src="/Video_gana.webm"></video>
    </div>
</section>
