<section
    id="Iberdrola"
    class="justify-center bg-black h-screen w-screen text-center relative overflow-hidden"
>
    <div class="z-30 relative h-full w-full flex flex-col items-center">
        <header>
            <a href="https://www.iberdrola.es/" target="_blank"><img
                class="w-[350px] h-[200px] mt-[550px]"
                src="/Iber.webp"
                alt="Iber"
            /></a>
        </header>

        <footer class="flex flex-col flex-grow justify-end pb-40">
            <div>
                <a
                    class="border-[3px] border-white bg-white/5 backdrop-blur-xl text-sm rounded font-semibold text-white px-12 py-2 inline-block hover:bg-white hover:text-black transition-colors hover:font-semibold"
                    href="src/pages/cal_iber.astro">Calculadora</a
                >

                <a
                    class="border-[3px] border-white bg-white/5 backdrop-blur-xl text-sm rounded font-semibold text-white px-12 py-2 inline-block hover:bg-white hover:text-black transition-colors hover:font-semibold"
                    href="#">Texto Legal</a
                >

                <a
                    class="border-[3px] border-white bg-white/5 backdrop-blur-xl text-sm rounded font-semibold text-white px-12 py-2 inline-block hover:bg-white hover:text-black transition-colors hover:font-semibold"
                    href="#">Mantel Tarifas</a
                >
            </div>
        </footer>
    </div>

    <div class="absolute top-0 bottom-0 h-full w-full">
        <video
            autoplay
            loop
            muted
            class="opacity-[20%] absolute h-full w-full object-cover object-center"
            src="/Video_iber.webm"></video>
        <!-- <img class="opacity-40 absolute h-full w-full object-contain object-center" src="/Iber.webp" alt="Iberdrola"> -->
    </div>
</section>
