---
import Logo from "./Logo.astro";
---

<header
    id="landing-header"
    class="py-3 px-10 flex items-center fixed top-0 w-full justify-between z-40 text-white"
>
    <div class="flex flex-grow basis-0">
        <Logo />
    </div>

    <!-- Nav 1 -->
    <nav>
        <ul
            class="flex text-sm [&>li>a]:font-semibold [&>li>a]:text-white [&>li>a]:inline-block [&>li>a]:px-4 [&>li>a]:py-2"
        >
            <li><a href="#Iberdrola">Iberdrola</a></li>
            <li><a href="#Naturgy">Naturgy</a></li>
            <li><a href="#Gana">Gana</a></li>

            <!-- <li><a href="#">Endesa</a></li> -->
            <!-- <li><a href="#Repsol">Repsol</a></li> -->
        </ul>
    </nav>
    <!-- Nav 2 -->
    <nav class="flex flex-grow justify-end basis-0">
        <ul
            class="flex text-sm [&>li>a]:text-white [&>li>a]:font-semibold [&>li>a]:inline-block [&>li>a]:px-4 [&>li>a]:py-2"
        >
            <li><a href="#">Facturas</a></li>
            <li><a href="#">Contratos</a></li>
        </ul>
    </nav>

    <div
        id="menu-backdrop"
        class={`absolute bg-white/20 backdrop-blur-lg rounded
    left-[var(--left)] top-[var(--top)]
    w-[var(--width)] h-[var(--height)] 
    transition-all duration-300 ease-in-out opacity-0 -z-10    
    `}
    >
    </div>
</header>

<script>
    const listItem = document.querySelectorAll("#landing-header li");
    const menuBackDrop = document.querySelector(
        "#menu-backdrop"
    ) as HTMLElement;

    listItem.forEach((item) => {
        item.addEventListener("mouseenter", () => {
            const { left, top, width, height } = item.getBoundingClientRect();
            const { clientHeight, clientWidth } = item;

            console.log({ left, top, width, height });
            console.log({ clientHeight, clientWidth });

            menuBackDrop.style.setProperty("--left", `${left}px`);
            menuBackDrop.style.setProperty("--top", `${top}px`);
            menuBackDrop.style.setProperty("--width", `${width}px`);
            menuBackDrop.style.setProperty("--height", `${height}px`);
            menuBackDrop.style.opacity = "1";
            menuBackDrop.style.visibility = "visible";
        });

        item.addEventListener("mouseleave", () => {
            menuBackDrop.style.opacity = "0";
            menuBackDrop.style.visibility = "hidden";
        });
    });
</script>
